{# resources/views/index.twig #}
{% extends 'layout.twig' %}

{% block content %}
    <h1 class="text-center" style="margin-top: 48px">Добро пожаловать в мой скромный проект!</h1>
{#    <p>Hello, {{ name }}!</p>#}
{% endblock %}